.navbar {
	background: url("/img/navbar.jpg");
}
.navbar-brand {
	font-family: "Edu VIC WA NT Beginner", cursive;
	font-size: 30px;
}
.cardNews {
	text-align: justify;
}
.fa-brands:hover {
	z-index: 3;
	transform: scale(1.2);
	cursor: pointer;
}
.btn-form {
	color: rgb(255, 255, 255);
}
.hi {
	color: rgb(209, 60, 60);
}
.form-control._error {
	box-shadow: 0 0 15px red;
}
.form-check-input._error {
	box-shadow: 0 0 15px red;
}
.form__body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.487) url("/img/spinner.gif") center / 400px no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}
.form__body._sending::after {
	opacity: 1;
	visibility: visible;
}
#scrollBtn {
position: fixed;
cursor: pointer;
display: none;
color: rgba(0, 0, 0, 0.1);
bottom: 1rem;
right: 1rem;
}
#scrollBtn:hover {
color: rgb(0, 0, 0);
}
.worksCard {
	cursor: pointer;
}
.sImg {
	max-width: 200px;
	max-height: 200px;
}
.bImg {
	width: 600px;
	height: 600px;
}
